<!DOCTYPE html>

<title>Edit Pret</title>

{% block body %}
    <h1>Edit Pret</h1>

    {{ include('pret1/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_pret_index') }}">back to list</a>

    {{ include('pret1/_delete_form.html.twig') }}
{% endblock %}
