{% extends './base_front.html.twig' %}

{% block body %}
    <h1>Create new Budget</h1>

    {{ include('budget/_form.html.twig') }}
  
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    <!-- Include Flashy default partial -->
    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}     
{% endblock %}

