{% extends './base_front.html.twig' %}
{% block title %} Modifier Etat du compte {% endblock %}

{% block body %}
    <h1>  Modifier Etat du compte N° {{ account.id }} </h1>

    {{ include('accstatus/_form.html.twig', {'button_label': 'Mise à jour'}) }}


{% endblock %}