<!DOCTYPE html>

<title>New Accstatus</title>

{% block body %}
    <h1>Create new Accstatus</h1>

    {{ include('accstatus/_form.html.twig') }}

    <a href="{{ path('app_accstatus_index') }}">back to list</a>
{% endblock %}
